@import url('//fonts.googleapis.com/css?family=Work+Sans:400,600');
@font-face {
  font-family: 'CoolveticaRg-Regular';
  src: url('/font/CoolveticaRg-Regular.svg#CoolveticaRg-Regular') format('svg'),
       url('/font/CoolveticaRg-Regular.ttf') format('truetype'),
       url('/font/CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
display: none;


.fas1 {
  font-size: 1rem;
}

main {
  background-color: var(--bg-secondary);
}

.fademe {
  width:150vw;
  height:150vh;
  right: 0px;
  position: fixed;
  z-index: -200;
  background:rgba(0, 0, 0, 1);
  opacity: 0;
  transition: 1s;

}
.fademe.animated {
    z-index: 999;
  opacity: 0.4;
  transition: 1s;
}


.sweet-alert button::-moz-focus-inner{border:0}
.sweet-alert[data-has-cancel-button=false] button{box-shadow:none!important}
.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false]{padding-bottom:40px}
.sweet-alert .sa-icon{width:80px;height:80px;border:4px solid gray;-webkit-border-radius:40px;border-radius:40px;border-radius:50%;margin:20px auto;padding:0;position:relative;box-sizing:content-box}
.sweet-alert .sa-icon.sa-error{border-color:#F27474}
.sweet-alert .sa-icon.sa-error .sa-x-mark{position:relative;display:block}
.sweet-alert .sa-icon.sa-error .sa-line{position:absolute;height:5px;width:47px;background-color:#F27474;display:block;top:37px;border-radius:2px}
.sweet-alert .sa-icon.sa-error .sa-line.sa-left{-webkit-transform:rotate(45deg);transform:rotate(45deg);left:17px}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);right:16px}
.sweet-alert .sa-icon.sa-warning{border-color:#F8BB86}
.sweet-alert .sa-icon.sa-warning .sa-body{position:absolute;width:5px;height:47px;left:50%;top:10px;-webkit-border-radius:2px;border-radius:2px;margin-left:-2px;background-color:#F8BB86}
.sweet-alert .sa-icon.sa-warning .sa-dot{position:absolute;width:7px;height:7px;-webkit-border-radius:50%;border-radius:50%;margin-left:-3px;left:50%;bottom:10px;background-color:#F8BB86}
.sweet-alert .sa-icon.sa-info::after,.sweet-alert .sa-icon.sa-info::before{content:"";background-color:#C9DAE1;position:absolute}
.sweet-alert .sa-icon.sa-info{border-color:#C9DAE1}
.sweet-alert .sa-icon.sa-info::before{width:5px;height:29px;left:50%;bottom:17px;border-radius:2px;margin-left:-2px}
.sweet-alert .sa-icon.sa-info::after{width:7px;height:7px;border-radius:50%;margin-left:-3px;top:19px}
.sweet-alert .sa-icon.sa-success{border-color:#A5DC86}
.sweet-alert .sa-icon.sa-success::after,.sweet-alert .sa-icon.sa-success::before{content:'';position:absolute;width:60px;height:120px;background:#fff}
.sweet-alert .sa-icon.sa-success::before{-webkit-border-radius:120px 0 0 120px;border-radius:120px 0 0 120px;top:-7px;left:-33px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:60px 60px;transform-origin:60px 60px}
.sweet-alert .sa-icon.sa-success::after{-webkit-border-radius:0 120px 120px 0;border-radius:0 120px 120px 0;top:-11px;left:30px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 60px;transform-origin:0 60px}
.sweet-alert .sa-icon.sa-success .sa-placeholder{width:80px;height:80px;border:4px solid rgba(165,220,134,.2);-webkit-border-radius:40px;border-radius:40px;border-radius:50%;box-sizing:content-box;position:absolute;left:-4px;top:-4px;z-index:2}
.sweet-alert .sa-icon.sa-success .sa-fix{width:5px;height:90px;background-color:#fff;position:absolute;left:28px;top:8px;z-index:1;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.sweet-alert .sa-icon.sa-success .sa-line{height:5px;background-color:#A5DC86;display:block;border-radius:2px;position:absolute;z-index:2}
.la-ball-fall,.la-ball-fall>div,.small-pull-1,.small-pull-10,.small-pull-11,.small-pull-2,.small-pull-3,.small-pull-4,.small-pull-6,.small-pull-7,.small-pull-8,.small-pull-9,.small-push-1,.small-push-10,.small-push-11,.small-push-2,.small-push-3,.small-push-4,.small-push-5,.small-push-6,.small-push-7,.small-push-8,.small-push-9,sub,sup{position:relative}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip{width:25px;left:14px;top:46px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long{width:47px;right:8px;top:38px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.sweet-alert .sa-icon.sa-custom{background-size:contain;border-radius:0;border:none;background-position:center center;background-repeat:no-repeat}

:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #212121;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
.float{
position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#ca8bcc;
color:#FFF;
border-radius:100px;
text-align:center;
z-index: -10;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.55);

}
.my-float{
  position: relative;
  top: -10px;
  color: #242424;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);

font-size: 40px;
}
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
      overflow-y: hidden;
}


.comment2vox {
  display: none;
  position: absolute;
      left: 70%;
}
.commentvox {
  display: none;
align-items: flex-start;
  transition: 0.3s;
  vertical-align: middle;
  align-self: flex-start;
margin-left: 4px;
margin-right: 4px;
}
.comment2vox p { margin-top: -3px;}
.div-to-display {
    position: absolute;
    right: 100%;
    max-width: 1000%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #212121;
    z-index: 10;
}
.box:hover .commentvox {
  display: flex;
}
.box:hover .comment2vox {
  display: flex;
}
.jijo {
  margin-left: 3rem;
  margin-top: -0.5rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  z-index: 9999;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.15);
-moz-box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.15);
box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.15);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-left: 0;
  color: #e1e6eb;
  text-decoration: none;
  filter: grayscale(10%) opacity(0.9);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: #ffffff;
}

.link-text {
  display: none;
  margin-left: 0.5rem;
}




.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  margin-bottom: 1rem;
  text-align: center;

  font-size: 2rem;
  width: 100%;
  font-family: 'CoolveticaRg-Regular';
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: 999px;
  transition: var(--transition-speed);
    font-size: 2rem;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* PARA CELULAR */
@media (hover: none) and (pointer: coarse) {
  .swal-modal {
    width: 90vw;
    height: auto;
  }
  .modal-content {
margin-top: 50vw;
margin-bottom: 50vw;

    margin-left: 5vw;
    width: 90vw;
    height: auto;
  }
  .modal-title {
    font-size: 5vw;
}
.form-control {
    font-size: 1.5rem;
  }
  textarea.form-control {
    height: 10em;
    font-family: monospace;
}
  .modal-dialog {
      max-width: 100vw;
  }

  .swal-title {
    font-size: 6vw;
  }
  .swal-text {
    font-size: 2vw;
  }
  .fas1 {
    font-size: 2.5rem;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  .float{
  z-index: 102;
  height: 7vh;
  width: 7vh;
  }

  .my-float{
  margin-top:3vh;
  }

  .jijo {
    margin-left: 0rem;
    overflow-y: scroll;
  }


  .navbar {
    top: 0;
    width: 0px;
    left: -100px;
    height: 100vh;
  }


  .navbar.animated {
    width: 32rem;
    left: 0px;

  }

  .link-text {
    font-size: 32px;
    }

.nav-item {
  padding-top: 2vh;
}
.nav-item i {
  font-size: 32px;
}
  .navbar.animated .link-text {
    display: inline;
  }

  .navbar.animated .logo svg
  {

    margin-left: 28rem;
  }

  .navbar.animated .logo-text
  {
    weight: normal !important;
    left: 40%;
    font-size: 3rem
  }





  main {
    margin: 0;
  }
}

/* PANTALLA NORMAL */
@media (hover: hover) and (pointer: fine) {
  .navbar {
    top: 0;
    width: 3rem;
    height: 100vh;
  }


  .navbar:hover {
    width: 16rem;
  }


  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 13rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
  .docutector {
    visibility: hidden;
    display:none;


  }
}
