@import url('//fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('//fonts.cdnfonts.com/css/bebas-neue');

@font-face {
  font-family: 'CoolveticaRg-Regular';
  src: url('/font/CoolveticaRg-Regular.svg#CoolveticaRg-Regular') format('svg'),
       url('/font/CoolveticaRg-Regular.ttf') format('truetype'),
       url('/font/CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

iframe {

   border: 0
}

.leftside, .rightside {
  height: 100vh;
  overflow-y: auto;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
.leftside {
  width: 110%
}
.rightside {
  position: relative;
  left: 10%;
  width: 90%;
}
.descripcionAnuncio {
    line-height: 1.4;
    font-size: 16px;
    word-break: break-word;
    margin-bottom: 16px;
}

.commentContent::selection {
    background-color: rgba(29,29,32,0.99);
}

.greentext {
  color: #9fcc2d;
  font-weight: normal;
}

.rightside a {
  color: #f7aafa;
  font-weight: bold;
  transition: 0.5s;
}

a:hover {
  color: #ca8bcc;
  text-decoration: none;
}
.commentvox:checked {
  background-color: white;
}


.comentariovox {
  font-family: arial;
  font-size: 16px !important;
  font-weight: bold;
  padding: 7px;
}

.tagComment {
  background-color: #2d2d33;
  border-radius: 3px;
    font-size: 12px;
    padding: 1px 5px;
color: #fefefe;
cursor: pointer;
margin-bottom: 0px;
}

.timeComment {
  color: #8a8a8a;
}
.commentsTag {
  display: flex;
}

.btn1 {
   padding: 1.2em;
   border-radius: 3px;
   margin: 8px 8px 8px 8px;
   color: white;
   background-color: white;
   display: inline-block;
   background: #323234;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   font-family: sans-serif;
   font-weight: 800;
   font-size: .85em;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
   box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
   position: relative;
}
.btn1:hover, .btn1:focus {
   opacity: 1;
   background-color: #f6aaf9;
   background: #f6aaf9;
   color: white;
}

button:focus { outline:0 !important; }

.btn1:active {
   -webkit-transform: scale(0.90);
   -moz-transform: scale(0.90);
   -ms-transform: scale(0.90);
   -o-transform: scale(0.90);
   transform: scale(0.90);
   outline:0 !important;
}
.btn1.block {
   display: block !important;
   outline:0 !important;
}
.btn1.circular {
 border-radius: 50em !important;
 outline:0 !important;
}

.leftside {
  background: 	#232328		;
    padding-top: 20px;
}

.rightside {
  background: #1d1d20;
}

body {
  font-size: 0.9rem;
}

.barra2 {
    background:#3d3d3f;
    margin: 4px 16px;
    padding: 8px;
    color: var(--text-secondary);
    display: flex;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.3);
}

.barra {
    flex-grow: 1;
}

.anonText {
  font-family: 'Bebas Neue', arial;
  font-weight: 600;
  font-size: 20px;
  display: flex;
      align-items: center;
      justify-content: center;

}
.textarea2 {
  width: calc(43vw - 48px);
  padding: 12px;
  border: 1px solid #ccc;
  background: #1d1d20;
  color: white;
  border-color: #3d3d3f;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 1s;
  resize: vertical;
  font-family: monospace;
}

.textarea2:hover {
  border-color: white;

}

.textarea2 input[type=text]:focus{
  outline: 2px solid white;
}


figure.imagen2 {
    min-width: calc(25vw);
    min-height: auto;
}

figure.imagen2 img {
    min-width: calc(25vw - 10px);
    min-height: auto;
}
figure.imagen2 iframe {
    min-width: calc(25vw - 7px);
    min-height: calc(calc(25vw - 7px) * 0.5625);
}
.textoBarra{
    flex-basis: 100%;
    display: flex;
    align-items: center;
}
.perfiltext {
  text-align: center;
  width: 100%;
margin: 0px;
padding: 0px;
  font-size: 18px;
  position: relative;
  font-family: 'CoolveticaRg-Regular';

}

.opciones  {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: right;
  align-items: right;
}
.iniciadoPor {
  position: relative;
width: 100%;
  text-align: right;
margin: 0px;
padding: 0px;
}

.opcionesVox {
  position: relative;
width: 100%;

  text-align: right;
margin: 0px;
padding: 0px;

}
.opcionesVox2{
  position: relative;
  text-align: left;
margin: 0px;
padding: 0px;
}
.iniciadoPorAnon{
  position: relative;
width: 100%;

  text-align: right;
margin: 0px;
padding: 0px;
}
.barra2 {

    padding: 4px;

}
.aaaa23 {
    font-weight: 400;
    font-size: 14px;
}
.aaaa23 p {
  padding: 3px;
}
.flag {
  margin-left: 5px;
}

.Perfil  {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


article.anuncioBox {
    padding: 16px;
}

.marginleftt {
  margin-left: 5px;
}

figure.imagen2 {
    margin: 0;
    float: left;
    margin-right: 16px;
    background: #3d3d3f;
    border-radius: 4px;
    padding: 5px;
    -webkit-box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.2);
    display: flex;
    align-items: flex-start;

max-width: 50%;
    margin-bottom: 2px;
    width: 100%;
    flex-wrap: wrap;
}

.texto {
    color: #f5f4f4;
}

.imagen {
    flex-basis: 100%;
    display: flex;
}

header.texto h1 {
    margin: 0;
    margin-bottom: 16px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 900;
    color: #f5f4f4;
    line-height: 105%;
    word-break: break-word;
}


figure.imagen2 img {
max-width: 50%;
    display: block;
    height: auto;

    border-radius: 4px;
}
figure.imagen2 iframe {
max-width: 50%;
    display: block;
    max-height: auto;

    border-radius: 4px;
}
.btn1-primary {
  margin-top: 1vh;
}
.text-center {
  text-align: center;
  font-size: 20px;
}

.tituloAnuncio {
  font-family: Calibri, TimesNewRoman;

}

.opComment {
  margin: 0px;
  font-weight: bold;
  color: #f6aaf9;
  margin-right: 5px;
}

.aeae {
  padding: 2px;
}

.aeae1 {
  background-color: #323233;
  padding: 2px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(61,61,63,0);
  -moz-box-shadow: 0px 0px 0px 3px rgba(61,61,63,0);
  box-shadow: 0px 0px 0px 3px rgba(61,61,63,0);
}

.aeae2 {
  margin-top: 20px;
  background-color: #1d1d20;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);
}

.dados {
  margin-top: 3px;
  font-size: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment {
    flex-basis: 100%;
    margin: 16px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    align-items: flex-start;
    border-radius: 0px;
    padding: 12px;
    background-color: #333334;
    transition: 0.5s;
}


.commentvox {
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    border-radius: 0px;
    padding: 12px;
    margin-bottom: 2px;
    transition: 0.5s;
}

.commentvox:hover {
      background: #18181a;
}

.commentAvatar {
    margin-right: 12px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentBody {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.commentMetadata {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;

}
.displayFlex {
  display: flex;
}

.comment3 {
  flex-basis: calc(100%/8 - 16px) !important;    margin-top: 15px;
    height: 59.54%;
}

.comment2 {
  flex-basis: calc(100%/8 - 16px) !important;
  display: flex;
  margin-left: 16px;
  transition: 0.7s;
}
.commentListUpper2 {
  display: flex;
  margin-left: 16px;
  transition: 0.7s;
}
.comment2 select {
  border: none;
  background-color: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: none;
  cursor: pointer;
}

.comment2 button {
  border: none;
  background-color: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: none;
  cursor: pointer;
}
.icono2 {
  justify-content: center;
  align-items: center;

}
.comment2 select:focus {
  outline: none;
}
.comment2 option {
    color: black;
}
.comment2 i {
  color: white;
  text-align: center;
  font-size: 16px;
}
.commentContent2 {
  text-align: center !important;
}
.nopadding {
  margin-left: 0px !important;
}


.comment2:hover {
  background-color: #49494d;
  cursor:pointer;
}

span.author {
    font-weight: bolder;
    font-size: 14px;
    color: #e1e1e1;
  font-family: Arial, TimesNewRoman;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.pointer {
    cursor: pointer;
}


.commentContent {
  word-break: break-word;
  color: #e1e1e1;
  font-weight: 450;
}

.commentList {
    margin: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}
.comment3{
  margin-top: 16px;
  margin-bottom: 16px;

}
.commentList2 {
    margin: 2px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}
.avatarColoryellow {
    background: #ebc310;
    width: 50px;
    height: 50px;
    border-radius: 0px;
}
.avatarColorgreen {
    background: #4aa813;
    width: 50px;
    height: 50px;
    border-radius: 0px;
}
.avatarColorred {
    background: #c43718;
    width: 50px;
    height: 50px;
    border-radius: 0px;
}
.avatarColorblue {
    background: #1857c4;
    width: 50px;
    height: 50px;
    border-radius: 0px;
}
.avatarColorBlack {
    background: #242323;
    width: 50px;
    height: 50px;
    border-radius: 0px;
}
.avatarColorWhite {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url("https://pbs.twimg.com/profile_images/653558348273569792/joxg8DZD_400x400.png");
    background-size: cover;
    background-position: center;

    width: 50px;
    height: 50px;
    border-radius: 0px;
}
@keyframes multi {
  20% {
    background: linear-gradient(#ca2b00 25%, #fdcd3b 25%, #fdcd3b 50%, #136699 50%, #136699 75%, #3d9932 75%, #3d9932 100%);
}
60% {
    background: linear-gradient(#3d9932 25%, #ca2b00 25%, #ca2b00 50%, #fdcd3b 50%, #fdcd3b 75%, #136699 75%, #136699 100%);
}
80% {
    background: linear-gradient(#136699 25%, #3d9932 25%, #3d9932 50%, #ca2b00 50%, #ca2b00 75%, #fdcd3b 75%, #fdcd3b 100%);
}
100% {
    background: linear-gradient(#fdcd3b 25%, #136699 25%, #136699 50%, #3d9932 50%, #3d9932 75%, #ca2b00 75%, #ca2b00 100%);
}
}
.avatarColorMulti {
    width: 50px;
    height: 50px;
    background: linear-gradient(#fdcd3b 25%, #136699 25%, #136699 50%, #3d9932 50%, #3d9932 75%, #ca2b00 75%, #ca2b00 100%);
    animation: multi .3s infinite;
    border-radius: 0px;
  }
  @keyframes invertido {
    20% {
    background: linear-gradient(#5afbff 25%, #3541c6 25%, #3541c6 50%, #f79769 50%, #f79769 75%, #f154c8 75%, #f154c8 100%);
}
60% {
    background: linear-gradient(#f154c8 25%, #5afbff 25%, #5afbff 50%, #3541c6 50%, #3541c6 75%, #f79769 75%, #f79769 100%);
}
80% {
    background: linear-gradient(#f79769 25%, #f154c8 25%, #f154c8 50%, #5afbff 50%, #5afbff 75%, #3541c6 75%, #3541c6 100%);
}
100% {
    background: linear-gradient(#3541c6 25%, #f79769 25%, #f79769 50%, #f154c8 50%, #f154c8 75%, #5afbff 75%, #5afbff 100%);
}
  }
  .avatarColorInvertido {
      width: 50px;
      height: 50px;
      background: linear-gradient(#0232c4 25%, #ec9966 25%, #ec9966 50%, #c266cd 50%, #c266cd 75%, #35d4ff 75%, #35d4ff 100%);
      border-radius: 0px;
      color: #212121;
          animation: invertido .3s infinite;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3d3d3f;
  font-weight: 500;
}


    @media (max-width: 800px)
     {
       .jijo {
         flex-wrap: wrap;
         display: block;
        height: calc(100vh - 32px;);
        margin-left: 5vw;
          flex-flow: row;
       }
       .descripcionAnuncio {
           line-height: 1.4;
           font-size: 32px;
           word-break: break-word;
           margin-bottom: 16px;
       }
       header.texto h1 {
           font-size: 72px;
           font-weight: 900;
           word-break: break-word;
       }
       .btn1 {
          padding-left: 5vw;
          padding-right: 5vw;
          font-size: 40px;
          text-align: center;
          vertical-align: middle;
          position: relative
       }
       .textarea2 {
         width: calc(96vw - 24px);
         height: calc(100vw/4);
         font-size: 200%;
       }
       figure.imagen2 {
           min-width: calc(89.15vw - 16px);
           min-height: auto;
       }
       figure.imagen2 img {
           min-width: calc(88.15vw - 16px);
           min-height: auto;
       }
       figure.imagen2 iframe {
           min-width: calc(88.15vw - 16px);
           min-height: auto;
       }
       .leftside {
         padding-top: 10px;
         padding-bottom: 30px;
         flex-basis: 100vw;
         height: 100vh;
         width: 90.25vw;
         height: auto;
         position: static;
       }

       .rightside {
        flex-grow: 1;
        height: 100vh;
        width: 90.25vw;
        margin: 0;
        flex-basis: 100%;
    }


    .avatarColoryellow {
        width: 88px;
        height: 88px;
            border-radius: 10px;
    }
    .avatarColorgreen {
        width: 88px;
        height: 88px;
            border-radius: 10px;
    }
    .avatarColorred {
        width: 88px;
        height: 88px;
            border-radius: 10px;
    }
    .avatarColorblue {
        width: 88px;
        height: 88px;
        border-radius: 10px;
    }
    .avatarColorBlack {
        width: 88px;
        height: 88px;
        border-radius: 10px;
    }
    .avatarColorWhite {
        width: 88px;
        height: 88px;
        border-radius: 10px;
    }
    .avatarColorMulti {
        width: 88px;
        height: 88px;
        border-radius: 10px;
      }
      .avatarColorInvertido {
          width: 88px;
          border-radius: 10px;
          height: 88px;
        }

        span.author {
            font-size: 28px;
            align-items: center;
        }

        .comment {
            padding: 32px;
            margin-bottom: 4px;
        }
        .commentContent {
          font-size: 26px;
          word-break: break-word;
        }

     }


    @media (hover: none) and (pointer: coarse)
     {
       .jijo {
         flex-wrap: wrap;
         display: block;
        height: 101vh;
          flex-flow: row;
       }
       .descripcionAnuncio {
           line-height: 1.4;
           font-size: 32px;
           word-break: break-word;
           margin-bottom: 16px;
       }
       header.texto h1 {
           font-size: 72px;
           font-weight: 900;
           word-break: break-word;
       }
       .btn1 {
          padding-left: 5vw;
          padding-right: 5vw;
          font-size: 2vw;
          text-align: center;
          vertical-align: middle;
          position: relative
       }
       .textarea2 {
         width: calc(96vw - 24px);
         height: calc(100vw/4);
         font-size: 200%;
       }
       figure.imagen2 {
           min-width: calc(98vw - 16px);
           min-height: auto;
       }
       figure.imagen2 img {
           min-width: calc(97vw - 16px);
           min-height: auto;
       }
       figure.imagen2 iframe {
           min-width: calc(97vw - 16px);
           min-height: auto;
       }
       .leftside {
         padding-top: 10px;
         padding-bottom: 30px;
         flex-basis: 100vw;
         height: 100vh;
         width: 100vw;
         height: auto;
         position: static;
       }

       .rightside {
        flex-grow: 1;
        height: 100vh;
        width: 100vw;
        margin: 0;
        flex-basis: 100%;
    }


    .avatarColoryellow {
        width: 88px;
        height: 88px;
            border-radius: 10px;
    }
    .avatarColorgreen {
        width: 88px;
        height: 88px;
            border-radius: 10px;
    }
    .avatarColorred {
        width: 88px;
        height: 88px;
            border-radius: 10px;
    }
    .avatarColorblue {
        width: 88px;
        height: 88px;
        border-radius: 10px;
    }
    .avatarColorBlack {
        width: 88px;
        height: 88px;
        border-radius: 10px;
    }
    .avatarColorWhite {
        width: 88px;
        height: 88px;
        border-radius: 10px;
    }
    .avatarColorMulti {
        width: 88px;
        height: 88px;
        border-radius: 10px;
      }
      .avatarColorInvertido {
          width: 88px;
          border-radius: 10px;
          height: 88px;
        }

        span.author {
            font-size: 28px;
            align-items: center;
        }

        .comment {
            padding: 32px;
            margin-bottom: 4px;
        }
        .commentContent {
          font-size: 26px;
          word-break: break-word;
        }

     }
