@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@font-face {
  font-family: 'CoolveticaRg-Regular';
  src: url('/font/CoolveticaRg-Regular.svg#CoolveticaRg-Regular') format('svg'),
       url('/font/CoolveticaRg-Regular.ttf') format('truetype'),
       url('/font/CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
display: none;


.fas1 {
  font-size: 1rem;
}

main {
  background-color: var(--bg-secondary);
}

.fademe {
  width:150vw;
  height:150vh;
  right: 0px;
  position: fixed;
  z-index: -200;
  background:rgba(0, 0, 0, 1);
  opacity: 0;
  transition: 1s;

}
.fademe.animated {
    z-index: 999;
  opacity: 0.4;
  transition: 1s;
}




:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #212121;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
.float{
position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#ca8bcc;
color:#FFF;
border-radius:100px;
text-align:center;
z-index: -10;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.55);

}
.my-float{
  position: relative;
  top: -10px;
  color: #242424;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);

font-size: 40px;
}
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
      overflow-y: hidden;
}


.jijo {
  margin-left: 3rem;
  margin-top: -0.5rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  z-index: 9999;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.15);
-moz-box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.15);
box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.15);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-left: 0;
  color: #e1e6eb;
  text-decoration: none;
  filter: grayscale(10%) opacity(0.9);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: #ffffff;
}

.link-text {
  display: none;
  margin-left: 0.5rem;
}




.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  margin-bottom: 1rem;
  text-align: center;

  font-size: 2rem;
  width: 100%;
  font-family: 'CoolveticaRg-Regular';
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: 999px;
  transition: var(--transition-speed);
    font-size: 2rem;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* PARA CELULAR */
@media (hover: none) and (pointer: coarse) {
  .swal-modal {
    width: 90vw;
    height: auto;
  }
  .modal-content {
margin-top: 50vw;
margin-bottom: 50vw;

    margin-left: 5vw;
    width: 90vw;
    height: auto;
  }
  .modal-title {
    font-size: 5vw;
}
.form-control {
    font-size: 1.5rem;
  }
  textarea.form-control {
    height: 10em;
    font-family: monospace;
}
  .modal-dialog {
      max-width: 100vw;
  }

  .swal-title {
    font-size: 6vw;
  }
  .swal-text {
    font-size: 2vw;
  }
  .fas1 {
    font-size: 2.5rem;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  .float{
  z-index: 102;
  height: 7vh;
  width: 7vh;
  }

  .my-float{
  margin-top:3vh;
  }

  .jijo {
    margin-left: 0rem;
    overflow-y: scroll;
  }


  .navbar {
    top: 0;
    width: 0px;
    left: -100px;
    height: 100vh;
  }


  .navbar.animated {
    width: 32rem;
    left: 0px;

  }

  .link-text {
    font-size: 32px;
    }

.nav-item {
  padding-top: 2vh;
}
.nav-item i {
  font-size: 32px;
}
  .navbar.animated .link-text {
    display: inline;
  }

  .navbar.animated .logo svg
  {

    margin-left: 28rem;
  }

  .navbar.animated .logo-text
  {
    weight: normal !important;
    left: 40%;
    font-size: 3rem
  }





  main {
    margin: 0;
  }
}

/* PANTALLA NORMAL */
@media (hover: hover) and (pointer: fine) {
  .navbar {
    top: 0;
    width: 3rem;
    height: 100vh;
  }


  .navbar:hover {
    width: 16rem;
  }


  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 13rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
  .docutector {
    visibility: hidden;
    display:none;


  }
}
