<!DOCTYPE html>
<html lang="es-AR" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Voxer {{#if box2.title}}| {{box2.title}} {{/if}}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

              <link rel="stylesheet" href="/css/scrollbar.css"/>
              <script type="text/javascript" src="/socket.io/socket.io.js"></script>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
              <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
              <link rel="stylesheet" href="/css/font-awesome.min.css"/>
              <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
              <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
              <link rel="shortcut icon" href="/resources/voxerlogo.png">
              <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  </head>
  <meta
     name='viewport'
     content='user-scalable=0'
/>
  <body>
    <script type="text/javascript">
     $(function(){
      $("#alert-modal").modal();
     });
    </script>
    <style media="screen">
    * {
      scroll-behavior: smooth;
    }
    </style>
    <main>
      {{> errors }}
      {{ modals }}
      {{{ body }}}
    </main>

  </body>
</html>
